@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
.example {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  color: #212121;
  max-width: 960px;
  padding: 15px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: teal;
  color: white;
  padding: 2px 6px;
  border-radius: 2px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  background-color: #ffffff;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .container {
    min-width: 216px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 688px;
  }
}
@media screen and (min-width: 1680px) {
  .container {
    width: 1314px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .header .container {
    width: 320px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .header .container {
    display: flex;
    width: 768px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1680px) {
  .header .container {
    display: flex;
    align-items: center;
    width: 1314px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 767px) {
  .header-logo {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 144px;
  }
  .header-logo-white-theme {
    position: relative;
    margin-right: 144px;
    margin-left: 29px;
  }
}
@media screen and (min-width: 768px) {
  .header-logo {
    position: relative;
    display: inline-block;
    margin-top: 38px;
    margin-left: 40px;
    margin-right: 239px;
  }
  .header-logo-white-theme {
    position: relative;
    margin-left: 56px;
    margin-right: 525px;
  }
}
@media screen and (min-width: 1680px) {
  .header-logo {
    margin-right: 100px;
    margin-left: 0;
    margin-top: 20px;
  }
}
@media screen and (min-width: 1680px) {
  .header-logo-white-theme {
    display: none;
  }
}
.logo-text {
  font-family: Montserrat;
  font-weight: 800;
  letter-spacing: 0.03em;
  color: #111518;
}
.logo-text-white-theme {
  font-family: Montserrat;
  font-weight: 800;
  letter-spacing: 0.03em;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .logo-text {
    font-size: 20px;
    line-height: 1.366;
  }
  .logo-text-white-theme {
    font-size: 20px;
    line-height: 1.366;
  }
}
@media screen and (min-width: 768px) {
  .logo-text {
    font-size: 26px;
    line-height: 1.23;
  }
  .logo-text-white-theme {
    font-size: 26px;
    line-height: 1.23;
  }
}
.logo-svg {
  fill: #ff6b09;
}

@media screen and (max-width: 767px) {
  .logo-svg {
    width: 14px;
    height: 20px;
  }
}
@media screen and (min-width: 768px) {
  .logo-svg {
    width: 22px;
    height: 30px;
  }
}
.under-text {
  position: absolute;
  font-family: Montserrat;
  font-weight: 800;
  font-size: 6px;
  line-height: 1.666;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: #111518;
}
.under-text-white-theme {
  position: absolute;
  font-family: Montserrat;
  font-weight: 800;
  font-size: 6px;
  line-height: 1.666;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .under-text {
    font-size: 6px;
    top: 24px;
    left: 2px;
  }
  .under-text-white-theme {
    font-size: 6px;
    top: 20px;
    left: 2px;
  }
}
@media screen and (min-width: 768px) {
  .under-text {
    font-size: 7px;
    top: 36px;
    left: 8px;
  }
  .under-text-white-theme {
    font-size: 7px;
    top: 25px;
    left: 8px;
  }
}
@media screen and (max-width: 767px) {
  .menu-btn {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
  }
  .menu-btn-white-theme {
    margin-top: 23px;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: none;
  }
}
@media screen and (min-width: 768px) {
  .menu-btn {
    margin-top: 40px;
    padding: 0;
    border: none;
    background-color: transparent;
    outline: none;
  }
  .menu-btn-white-theme {
    margin-top: 54px;
    padding: 0;
    border: none;
    background-color: transparent;
  }
}
@media screen and (min-width: 1680px) {
  .menu-btn,
.menu-btn-white-theme {
    display: none;
  }
}
.menu-btn .icon-close {
  display: none;
}

.menu-btn.is-open .icon-close {
  display: block;
}

.menu-btn.is-open .icon-menu {
  display: none;
}

@media screen and (max-width: 1679px) {
  .container-menu {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1680px) {
  .container-menu {
    width: 1056px;
    display: block;
  }
}
.container-menu.is-open {
  display: block;
  background: rgba(17, 21, 24, 0.9);
}

.container-menu.is-open .icon-close {
  display: block;
}

@media screen and (max-width: 767px) {
  .wrapper-header {
    max-width: 320px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .wrapper-header {
    max-width: 768px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1680px) {
  .wrapper-header {
    max-width: 1051px;
    margin: 0;
  }
}
@media screen and (min-width: 1680px) {
  .navigation {
    display: flex;
    margin-top: 34px;
    align-items: center;
  }
}
@media screen and (max-width: 767px) {
  .nav-list {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    flex-direction: column;
    margin-left: 242px;
    margin-top: 96px;
  }
}
@media screen and (min-width: 1680px) {
  .nav-list {
    display: flex;
    margin: 0;
    flex-direction: inherit;
  }
}
.nav-item {
  font-family: Montserrat;
  font-weight: 800;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-item:hover, .nav-item:focus {
  color: #ff6b09;
}

@media screen and (max-width: 767px) {
  .nav-item {
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  .nav-item {
    font-size: 26px;
  }
}
@media screen and (min-width: 1680px) {
  .nav-item {
    font-size: 14px;
    line-height: 1.214;
    text-transform: uppercase;
    color: #b9b9b9;
  }
}
@media screen and (min-width: 1680px) {
  .nav-item:not(:last-child) {
    margin-right: 40px;
  }
}
@media screen and (max-width: 767px) {
  .header-btn {
    background-color: transparent;
    border: 2px solid #ff6b09;
    width: 260px;
    height: 48px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #ff6b09;
    margin-left: 26px;
    padding: 14px 10px;
    cursor: pointer;
    outline: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-btn:hover, .header-btn:focus {
    color: #ffffff;
    background-color: #ff6b09;
  }
}
@media screen and (min-width: 768px) {
  .header-btn {
    display: none;
  }
}
@media screen and (min-width: 1680px) {
  .header-btn {
    background-color: transparent;
    border: 2px solid #ff6b09;
    width: 336px;
    height: 70px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.21;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #ff6b09;
    margin-left: 60px;
    padding: 26px 30px;
    cursor: pointer;
    outline: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-btn:hover, .header-btn:focus {
    color: #ffffff;
    background-color: #ff6b09;
  }
}
@media screen and (max-width: 767px) {
  .header-btn-second {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header-btn-second {
    background-color: transparent;
    border: 2px solid #ff6b09;
    width: 260px;
    height: 48px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #ff6b09;
    margin-top: 40px;
    margin-right: 34px;
    padding: 14px 10px;
    cursor: pointer;
    outline: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-btn-second:hover, .header-btn-second:focus {
    color: #ffffff;
    background-color: #ff6b09;
  }
}
@media screen and (min-width: 1680px) {
  .header-btn-second {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .hero .container {
    margin-top: 50px;
    max-width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .hero .container {
    max-width: 768px;
    margin-top: 70px;
  }
}
@media screen and (min-width: 1680px) {
  .hero .container {
    min-width: 1680px;
    margin-top: 125px;
  }
}
.hero-title {
  font-family: Montserrat;
  font-weight: 800;
  letter-spacing: 0.03em;
  color: #111518;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .hero-title {
    font-size: 20px;
    line-height: 1.35;
  }
}
@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 26px;
    line-height: 1.307;
    max-width: 280px;
  }
}
@media screen and (min-width: 1680px) {
  .hero-title {
    font-size: 58px;
    line-height: 1.293;
    max-width: 610px;
  }
}
.hero-subtitle {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.571;
  letter-spacing: 0.08em;
  color: #b9b9b9;
}

@media screen and (min-width: 1680px) {
  .hero-subtitle {
    font-size: 20px;
    line-height: 1.65;
  }
}
.hero-description {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.571;
  letter-spacing: 0.08em;
  color: #111518;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .hero-description {
    max-width: 280px;
  }
}
@media screen and (min-width: 1680px) {
  .hero-description {
    font-size: 20px;
    line-height: 1.65;
    max-width: 400px;
    margin-bottom: 68px;
  }
}
.hero-balls {
  color: #ff6b09;
}

.hero-button {
  background-color: transparent;
  border: 2px solid #ff6b09;
  width: 274px;
  height: 48px;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ff6b09;
  padding: 14px;
  cursor: pointer;
  outline: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover, .hero-button:focus {
  color: #ffffff;
  background-color: #ff6b09;
}

@media screen and (min-width: 1680px) {
  .hero-button {
    width: 360px;
    height: 70px;
    padding: 26px;
    font-size: 14px;
    line-height: 1.214;
    letter-spacing: 0.14em;
  }
}
@media screen and (max-width: 767px) {
  .hero {
    background-image: url(/hero-img-3.bc76f1e1.png);
    background-repeat: no-repeat;
    background-position: bottom;
    height: 600px;
    background-size: cover;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: url(/hero-img-2.fd54477f.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 420px;
  }
}
@media screen and (min-width: 1680px) {
  .hero {
    background-image: url(/hero-img-2.fd54477f.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 930px;
    display: flex;
  }
}
@media screen and (max-width: 767px) {
  .hero .container {
    background-image: url(/hero-img-mobile.bbdb3f9d.png);
    background-repeat: no-repeat;
    background-position: bottom;
    height: 460px;
  }
}
@media screen and (min-width: 768px) {
  .hero .container {
    background-image: url(/hero-img-tablet.fd40c678.png);
    background-repeat: no-repeat;
    background-position: right;
  }
}
@media screen and (min-width: 1680px) {
  .hero .container {
    position: relative;
    background-image: none;
    padding-left: 200px;
  }
}
@media screen and (min-width: 1680px) {
  .bg-image {
    position: absolute;
    top: -89px;
    right: 35px;
    width: 846px;
    height: 724px;
    background-image: url(/hero-img-desktop.280b5e0c.png);
    background-repeat: no-repeat;
  }
}
.program-section {
  position: relative;
  min-width: 320px;
  width: 100%;
  min-height: 2050px;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .program-section {
    min-width: 768px;
    min-height: 1355px;
  }
}
@media screen and (min-width: 1680px) {
  .program-section {
    min-width: 1680px;
    min-height: 1237px;
  }
}

.program-section {
  background-color: #111518;
}

.program-section .program-container {
  margin: 0 auto;
  padding-top: 50px;
  width: 280px;
}
@media screen and (min-width: 768px) {
  .program-section .program-container {
    padding-top: 60px;
    width: 688px;
  }
}
@media screen and (min-width: 1680px) {
  .program-section .program-container {
    padding-top: 120px;
    width: 1314px;
  }
}

.program-container {
  position: relative;
}

.program-section-title {
  margin-top: 0px;
  margin-bottom: 43px;
  text-align: center;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .program-section-title {
    margin-bottom: 52px;
    text-align: start;
    font-size: 26px;
  }
}
@media screen and (min-width: 1680px) {
  .program-section-title {
    margin-bottom: 160px;
    font-weight: 800;
    font-size: 46px;
  }
}

.program-list {
  position: relative;
  display: flex;
  justify-content: flex-end;
}
@media screen and (min-width: 768px) {
  .program-list {
    display: block;
    margin-left: 120px;
  }
}
@media screen and (min-width: 1680px) {
  .program-list {
    display: flex;
    justify-content: space-between;
    margin-left: 0px;
  }
}

.program-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.program-list > ul {
  display: block;
}
@media screen and (min-width: 1680px) {
  .program-list > ul {
    display: flex;
  }
}

.program-list ul:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .program-list ul:not(:last-child) {
    margin-bottom: 0;
    margin-right: 50px;
  }
}
@media screen and (min-width: 1680px) {
  .program-list ul:not(:last-child) {
    margin-right: 0;
    margin-bottom: 25px;
  }
}

.program-list-part ul {
  width: 176px;
}
@media screen and (min-width: 1680px) {
  .program-list-part ul {
    width: 240px;
  }
}

.program-list-part:not(:last-child) {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .program-list-part:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1680px) {
  .program-list-part:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.program-list-part {
  position: relative;
}

.program-part-title {
  display: block;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 1680px) {
  .program-part-title {
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 1.4;
  }
}

.program-part-title::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -32px;
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ff6b09;
  z-index: 999;
}
@media screen and (min-width: 768px) {
  .program-part-title::before {
    left: -62px;
  }
}
@media screen and (min-width: 1680px) {
  .program-part-title::before {
    left: 0px;
    top: -52px;
    width: 17px;
    height: 16px;
  }
}

.program-list::before {
  content: "";
  position: absolute;
  left: 79px;
  top: 9px;
  display: block;
  width: 1253px;
  height: 0px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  transform-origin: top left;
  transform: rotate(90deg);
}
@media screen and (min-width: 768px) {
  .program-list::before {
    top: 20px;
    left: -55px;
    width: 705px;
  }
}
@media screen and (min-width: 1680px) {
  .program-list::before {
    left: -189px;
    top: -44px;
    width: 1684px;
    transform: rotate(0deg);
  }
}

@media screen and (min-width: 1680px) {
  .program-part-number {
    font-size: 30px;
    line-height: 0.9;
  }
}
.program-list-title {
  display: block;
  margin-bottom: 5px;
  padding-left: 18px;
  height: 32px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.08em;
  color: #ff6b09;
}
@media screen and (min-width: 1680px) {
  .program-list-title {
    margin-bottom: 10px;
    font-size: 20px;
  }
}

.wrapper-list ul {
  position: relative;
}

.program-list-title::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 0px;
  display: block;
  width: 12px;
  height: 2px;
  background-color: #ff6b09;
}
@media screen and (min-width: 1680px) {
  .program-list-title::before {
    top: 16px;
  }
}

.wrapper-list {
  display: block;
}
@media screen and (min-width: 768px) {
  .wrapper-list {
    display: flex;
  }
}
@media screen and (min-width: 1680px) {
  .wrapper-list {
    display: block;
  }
}

.program-list-item {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.08em;
  opacity: 0.5;
  color: #b9b9b9;
}
@media screen and (min-width: 1680px) {
  .program-list-item {
    font-size: 18px;
    line-height: 1.5;
  }
}

.program-img {
  position: absolute;
  right: -63px;
  bottom: -95px;
  width: 176px;
  height: 137px;
  background-image: url("/program-section-mobile.c5b0d2df.png");
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2/1), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .program-img {
    background-image: url("/program-section-mobile@2x.fda5dc56.png");
  }
}
@media screen and (min-width: 768px) {
  .program-img {
    right: -38px;
    bottom: -150px;
    width: 384px;
    height: 280px;
    background-image: url("/program-section-tablet.bae6bd74.png");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .program-img {
    background-image: url("/program-section-tablet@2x.a83c3fcd.png");
  }
}
@media screen and (min-width: 1680px) {
  .program-img {
    left: -270px;
    bottom: -312px;
    width: 760px;
    height: 502px;
    background-image: url("/program-section-desktop.055d66b4.png");
  }
}
@media screen and (min-width: 1680px) and (min-device-pixel-ratio: 2), screen and (min-width: 1680px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1680px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 1680px) and (min-resolution: 192dpi), screen and (min-width: 1680px) and (min-resolution: 2dppx) {
  .program-img {
    background-image: url("/program-section-desktop@2x.265005a6.png");
  }
}

.program-advantages {
  position: relative;
  margin: 0 auto;
  width: 280px;
  height: 230px;
}
@media screen and (min-width: 768px) {
  .program-advantages {
    width: 688px;
    height: 253px;
  }
}
@media screen and (min-width: 1680px) {
  .program-advantages {
    width: 1314px;
    height: 197px;
  }
}

.program-advantages-container {
  position: absolute;
  bottom: 39px;
}
@media screen and (min-width: 768px) {
  .program-advantages-container {
    bottom: 0px;
  }
}

.program-adv-title {
  display: block;
  margin-bottom: 30px;
  padding-right: 80px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .program-adv-title {
    text-align: center;
    padding-right: 0;
    font-size: 23px;
  }
}
@media screen and (min-width: 1680px) {
  .program-adv-title {
    display: none;
  }
}

.program-adv-list {
  display: block;
  list-style: none;
  margin: 0 auto;
  padding: 20px 14px 20px 30px;
  width: 280px;
  height: 638px;
  background-color: #ffffff;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
}
@media screen and (min-width: 768px) {
  .program-adv-list {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 118px 25px 98px;
    width: 688px;
    height: 394px;
  }
}
@media screen and (min-width: 1680px) {
  .program-adv-list {
    padding: 70px 83px;
    width: 1314px;
    height: 398px;
  }
}

.program-adv-item {
  position: relative;
  display: block;
  width: 236px;
  max-height: 113px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.08em;
  color: #111518;
}
@media screen and (min-width: 768px) and (max-width: 1679px) {
  .program-adv-item:nth-child(2n) {
    width: 216px;
  }
}
@media screen and (min-width: 1680px) {
  .program-adv-item {
    width: 356px;
    max-height: 127px;
    font-size: 20px;
    line-height: 1.6;
  }
}

.program-adv-item::before {
  content: "";
  position: absolute;
  top: 10px;
  display: block;
  width: 14px;
  height: 2px;
  background-color: #ff6b09;
}

@media screen and (max-width: 767px) {
  .program-adv-item:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1678px) {
  .program-adv-item:nth-last-child(even) {
    margin-right: 20px;
  }

  .program-adv-item:nth-last-child(n+2) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1680px) {
  .program-adv-item {
    margin-right: 40px;
  }
  .program-adv-item:nth-child(3n) {
    margin-right: 0;
  }

  .program-adv-item:nth-child(-n+3) {
    margin-bottom: 32px;
  }
}
.adv-item-numb {
  margin-bottom: 10px;
  padding-left: 21px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.08em;
  color: #ff6b09;
}

.features-section {
  padding-bottom: 50px;
}
@media screen and (min-width: 1680px) {
  .features-section {
    padding-bottom: 130px;
  }
}
.features-container {
  padding: 0 20px;
  margin: 0 auto;
  min-width: 216px;
}
@media screen and (min-width: 768px) {
  .features-container {
    width: 688px;
  }
}
@media screen and (min-width: 1680px) {
  .features-container {
    width: 1314px;
  }
}
@media screen and (max-width: 767px) {
  .features-list {
    width: 216px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    justify-content: space-between;
  }
}
.features-item {
  display: flex;
  width: 100%;
  height: 60px;
}
@media screen and (min-width: 1680px) {
  .features-item {
    align-items: center;
  }
}
@media screen and (max-width: 767px) {
  .features-item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .features-item:not(:last-child) {
    margin-right: 20px;
  }
}
.features-name {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.429;
  align-items: center;
  letter-spacing: 0.08em;
  color: #111518;
  width: 146px;
}
@media screen and (min-width: 1680px) {
  .features-name {
    font-size: 20px;
    line-height: 1.65;
    width: 366px;
  }
}
.features-item::before {
  display: block;
  content: "";
  height: 60px;
  width: 59px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  margin-right: 15px;
}
@media screen and (min-width: 1680px) {
  .features-item::before {
    width: 100px;
    height: 102px;
    margin-right: -15px;
  }
}
.features-prog::before {
  background-image: url("/features-1.a40d26f9.svg");
}
.features-method::before {
  background-image: url("/features-2.9c065579.svg");
}
.features-garant::before {
  background-image: url("/features-3.cc7bad72.svg");
}
@media screen and (min-width: 1680px) {
  .features-prog::before {
    background-image: url("/features-1d.d39a99b7.svg");
  }
  .features-method::before {
    background-image: url("/features-2d.5ac7a324.svg");
  }
  .features-garant::before {
    background-image: url("/features-3d.2a388adc.svg");
  }
}

.problems-section {
  padding-top: 50px;
  padding-bottom: 367px;
  background-color: #111518;
}
@media screen and (min-width: 768px) {
  .problems-section {
    padding-top: 60px;
    padding-bottom: 176px;
  }
}
@media screen and (min-width: 1680px) {
  .problems-section {
    background-image: url(/problems_campfire.d545d619.png);
    background-repeat: no-repeat;
    background-size: 455px 472px;
    background-position: right bottom;
    padding: 100px 0 282px 0;
  }
}
.problems-section .container {
  margin: 0 auto;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .problems-section .container {
    padding: 0 20px;
    min-width: 280px;
  }
}
@media screen and (min-width: 768px) {
  .problems-section .container {
    width: 688px;
  }
}
@media screen and (min-width: 1680px) {
  .problems-section .container {
    width: 1314px;
  }
}
.problems-title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.35;
  letter-spacing: 0.03em;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .problems-title {
    font-size: 26px;
    line-height: 1.308;
    width: 450px;
  }
}
@media screen and (min-width: 1680px) {
  .problems-title {
    font-size: 46px;
    line-height: 1.304;
    width: 850px;
  }
}
.problems-container {
  background-color: #ffffff;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  padding: 20px 14px 20px 30px;
  margin-top: -340px;
}
@media screen and (min-width: 768px) {
  .problems-container {
    padding: 30px 46px 26px 96px;
    margin-top: -150px;
  }
}
@media screen and (min-width: 1680px) {
  .problems-container {
    padding: 70px 112px 62px 112px;
    margin-top: -180px;
  }
}
@media screen and (min-width: 768px) {
  .problems-list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 767px) {
  .problems-item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1679px) {
  .problems-item {
    width: calc((100% - 22px) / 2);
  }
  .problems-item:nth-child(-n+2) {
    margin-bottom: 8px;
  }
  .problems-item:nth-child(3), .problems-item:nth-child(4) {
    margin-bottom: 32px;
  }
  .problems-item:nth-child(odd) {
    margin-right: 22px;
  }
}
@media screen and (min-width: 1680px) {
  .problems-item {
    width: calc((100% - 80px) / 3);
    margin-right: 40px;
    margin-bottom: 32px;
  }
  .problems-item:nth-child(3n) {
    margin-right: 0;
  }
  .problems-item:nth-child(n+4) {
    margin-bottom: 0px;
  }
}
.problems-number {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  color: #ff6b09;
  margin-bottom: 5px;
}
@media screen and (min-width: 1680px) {
  .problems-number {
    margin-bottom: 10px;
    line-height: 1.65;
  }
}
.problems-description {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.714;
  align-items: center;
  letter-spacing: 0.08em;
  color: #111518;
}
@media screen and (min-width: 1680px) {
  .problems-description {
    font-size: 20px;
    line-height: 1.2;
  }
}

.accent-word {
  color: #ff6b09;
}

.how-section {
  padding-top: 50px;
  padding-bottom: 50px;
}
@media screen and (min-width: 1680px) {
  .how-section {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}
.how-section .container {
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .how-section .container {
    padding: 0 20px;
    min-width: 280px;
  }
}
.how-icon {
  width: 68px;
  height: 48px;
  fill: #ff6b09;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.how-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03em;
  color: #111518;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .how-title {
    font-size: 26px;
    line-height: 1.308;
  }
}
@media screen and (min-width: 1680px) {
  .how-title {
    font-size: 46px;
    line-height: 1.304;
    text-align: left;
    margin-bottom: 50px;
  }
}
.how-list {
  display: block;
}
@media screen and (min-width: 768px) {
  .how-list {
    display: flex;
    flex-wrap: wrap;
  }
}
.how-item {
  padding: 30px 11px 27px 11px;
  text-align: center;
  box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .how-item:not(:last-child) {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 768px) {
  .how-item {
    padding-right: 22px;
    padding-bottom: 23px;
    padding-left: 22px;
    width: calc((100% - 20px) / 2);
  }
  .how-item:not(:nth-last-child(-n+2)) {
    margin-bottom: 27px;
  }
  .how-item:nth-child(odd) {
    margin-right: 20px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1680px) {
  .how-item {
    padding: 40px 30px 55px 30px;
    width: calc((100% - 40px) / 3);
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .how-item:nth-child(3n) {
    margin-right: 0;
  }
  .how-item:nth-child(n+4) {
    margin-bottom: 0px;
  }
}
.how-item-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.423;
  text-align: center;
  letter-spacing: 0.08em;
  color: #111518;
  margin-top: 20px;
  margin-bottom: 15px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .how-item-title {
    margin-top: 30px;
  }
}
@media screen and (min-width: 1680px) {
  .how-item-title {
    font-size: 20px;
    line-height: 1.4;
    margin-top: 30px;
  }
}
.how-item:hover {
  background-color: #ff6b09;
}
.how-item:hover .how-item-title, .how-item:hover .how-element, .how-item:hover .how-description, .how-item:hover .how-icon {
  color: #ffffff;
  fill: #ffffff;
}
.how-element {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.65;
  align-items: center;
  text-align: center;
  letter-spacing: 0.08em;
  color: #ff6b09;
  margin-bottom: 15px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1680px) {
  .how-element {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.556;
  }
}
.how-description {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.667;
  text-align: center;
  letter-spacing: 0.08em;
  color: #b9b9b9;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1680px) {
  .how-description {
    font-size: 18px;
    line-height: 1.556;
  }
}

.teacher {
  padding-top: 40px;
  padding-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .teacher {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 1680px) {
  .teacher {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.teacher-main-container {
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 320px) {
  .teacher-main-container {
    width: 320px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .teacher-main-container {
    width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (min-width: 1680px) {
  .teacher-main-container {
    width: 1680px;
    padding-left: 183px;
    padding-right: 183px;
  }
}
@media screen and (min-width: 768px) {
  .teacher-container {
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .teacher-data-container {
    width: 402px;
    margin-left: 40px;
  }
}
@media screen and (min-width: 1680px) {
  .teacher-data-container {
    width: 642px;
    margin-left: 30px;
  }
}

.teacher-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: #111518;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .teacher-title {
    font-size: 26px;
    line-height: 1.308;
  }
}
@media screen and (min-width: 1680px) {
  .teacher-title {
    font-size: 46px;
    line-height: 1.304;
  }
}

.teacher-photo {
  margin-bottom: 20px;
}

.teacher-name {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  color: #111518;
  padding-bottom: 10px;
  border-bottom: 1px solid #b9b9b9;
  margin-bottom: 20px;
}
@media screen and (min-width: 1680px) {
  .teacher-name {
    font-size: 30px;
    line-height: 1.23;
  }
}

.teacher-list {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.06em;
  color: #111518;
  height: 193px;
  width: 253px;
  margin-bottom: 21px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .teacher-list {
    height: 165px;
    width: 375px;
    margin-bottom: 18px;
  }
}
@media screen and (min-width: 1680px) {
  .teacher-list {
    font-size: 16px;
    line-height: 1.25;
    width: 530px;
    margin-bottom: 31px;
  }
}

.teacher-container-icon {
  width: 17px;
  height: 14px;
  margin-right: 9px;
}
@media screen and (min-width: 1680px) {
  .teacher-container-icon {
    width: 24px;
    height: 20px;
    margin-right: 35px;
  }
}

@media screen and (max-width: 1579px) {
  .teacher-list-check-mark-2 {
    display: none;
  }
}
@media screen and (min-width: 1680px) {
  .teacher-list-check-mark-2 {
    display: block;
  }
}
@media screen and (max-width: 1579px) {
  .teacher-list-check-mark-1 {
    display: block;
  }
}
@media screen and (min-width: 1680px) {
  .teacher-list-check-mark-1 {
    display: none;
  }
}
.teacher-list-item {
  display: flex;
}

.teacher-element {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.65;
  letter-spacing: 0.08em;
  color: #ff6b09;
}

.teacher-photo-container {
  margin-bottom: 21px;
}
@media screen and (min-width: 768px) {
  .teacher-photo-container {
    margin-bottom: 18px;
  }
}
@media screen and (min-width: 1680px) {
  .teacher-photo-container {
    margin-bottom: 31px;
  }
}

.teacher-progress-container {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: #b9b9b9;
}
@media screen and (min-width: 1680px) {
  .teacher-progress-container {
    font-size: 18px;
    line-height: 1.56;
  }
}

.teacher-progress-list {
  height: 348px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .teacher-progress-list {
    height: 229px;
  }
}
@media screen and (min-width: 1680px) {
  .teacher-progress-list {
    height: 310px;
    margin-bottom: 10px;
  }
}

.сertificate {
  color: #ff6b09;
}

.warranty {
  padding-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .warranty {
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 1680px) {
  .warranty {
    padding-bottom: 130px;
  }
}

.warranty-container {
  padding-left: 0px;
  padding-right: 0px;
}

@media screen and (min-width: 320px) {
  .warranty-container {
    width: 320px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .warranty-container {
    width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (min-width: 1680px) {
  .warranty-container {
    width: 1680px;
    padding-left: 183px;
    padding-right: 183px;
  }
}
.warranty-title {
  font-weight: 800;
  font-size: 26px;
  line-height: 1.308;
  letter-spacing: 0.03em;
  text-align: center;
  color: #111518;
  margin-bottom: 30px;
}
@media screen and (min-width: 1680px) {
  .warranty-title {
    font-size: 46px;
    line-height: 1.304;
    margin-bottom: 50px;
  }
}

.warranty-cotainer-list {
  background-color: #f1f1f1;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: #3d3d3d;
}
@media screen and (min-width: 1680px) {
  .warranty-cotainer-list {
    font-size: 20px;
    line-height: 1.4;
  }
}

.warranty-list {
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 31px;
  padding-left: 20px;
}
@media screen and (min-width: 768px) {
  .warranty-list {
    padding-top: 30px;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-left: 79px;
  }
}
@media screen and (min-width: 1680px) {
  .warranty-list {
    padding-top: 50px;
    padding-right: 112px;
    padding-bottom: 45px;
    padding-left: 112px;
  }
}

.accent-part-list {
  color: #ff6b09;
}

.warranty-list-item:not(:last-child) {
  margin-bottom: 23px;
}
@media screen and (min-width: 768px) {
  .warranty-list-item:not(:last-child) {
    margin-bottom: 20px;
  }
}

.warranty-list-item {
  display: flex;
}

.warranty-icon-conteiner {
  width: 15px;
  height: 20px;
  margin-right: 20px;
}
@media screen and (min-width: 768px) {
  .warranty-icon-conteiner {
    margin-right: 24px;
  }
}
@media screen and (min-width: 1680px) {
  .warranty-icon-conteiner {
    width: 22px;
    height: 30px;
    margin-right: 30px;
  }
}

@media screen and (max-width: 1579px) {
  .warranty-list-item-icon-2 {
    display: none;
  }
}
@media screen and (min-width: 1680px) {
  .warranty-list-item-icon-2 {
    display: block;
  }
}
@media screen and (max-width: 1579px) {
  .warranty-list-item-icon-1 {
    display: block;
  }
}
@media screen and (min-width: 1680px) {
  .warranty-list-item-icon-1 {
    display: none;
  }
}
.reviews-section .container {
  position: relative;
  padding-bottom: 50px;
  padding-right: 20px;
  padding-left: 20px;
}

.section-title {
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03em;
  color: #111518;
}

.slider {
  margin-bottom: 20px;
  background: #ffffff;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
}

.slider-item {
  padding-top: 20px;
  padding-bottom: 30px;
}

.slider-image {
  margin-bottom: 20px;
}

.slider-image-item {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 90px;
}

.slider-social-link {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto;
}

.slider-social-icon {
  width: 30px;
  height: 30px;
  fill: #436eab;
}

.review-name {
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 14px;
  line-height: 1.214;
  text-align: center;
  letter-spacing: 0.08em;
  color: #ff6b09;
}

.review-institution {
  padding: 0 18px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.08em;
  color: #b9b9b9;
}

.review-text {
  padding: 0 18px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.666;
  text-align: center;
  color: #3d3d3d;
}

.review-link {
  color: #ff6b09;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}

.slider .slick-arrow {
  position: absolute;
  bottom: 65px;
  z-index: 15;
  font-size: 0;
  width: 25px;
  height: 20px;
  border: none;
}

.slider .slick-arrow.slick-prev {
  left: 20px;
  background: url(/arrow1.e43f1426.svg) no-repeat;
}

.slider .slick-arrow.slick-next {
  right: 20px;
  background: url(/arrow2.933c47f8.svg) 100% no-repeat;
}

/* Точки (булиты) */
.custom-dots .slick-dots {
  position: relative;
  display: flex;
  margin: 0 auto;
  max-width: 182px;
  overflow: hidden;
}

.custom-dots .slick-dots li {
  list-style: none;
}
.custom-dots .slick-dots li:not(:last-child) {
  margin-right: 10px;
}

/* Элемент точки */
.custom-dots .slick-dots li button {
  font-size: 0;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: none;
}

.custom-dots button#slick-slide-control00 {
  background: url(/dot0.3f2b4204.png) 100% no-repeat;
  background-size: cover;
}
.custom-dots button#slick-slide-control01 {
  background: url(/dot1.940693dc.png) 100% no-repeat;
}
.custom-dots button#slick-slide-control02 {
  background: url(/dot2.79136251.png) 100% no-repeat;
}
.custom-dots button#slick-slide-control03 {
  background: url(/dot3.c2360cb2.png) 100% no-repeat;
}
.custom-dots button#slick-slide-control04 {
  background: url(/dot4.ed9a8424.png) 100% no-repeat;
}
.custom-dots button#slick-slide-control05 {
  background: url(/dot5.b1ec4cb2.png) 100% no-repeat;
}
.custom-dots button#slick-slide-control06 {
  background: url(/dot6.7e4529b5.png) 100% no-repeat;
}

/* Активная точка */
.custom-dots .slick-dots li.slick-active button {
  border: 1px solid;
  border-color: #ff6b09;
}

@media screen and (min-width: 768px) {
  .reviews-section .container {
    padding-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .section-title {
    margin-bottom: 30px;
    font-size: 26px;
    line-height: 1.307;
  }

  .slider {
    margin-bottom: 30px;
  }

  .slider-item {
    display: flex;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
  }

  .slider-image {
    margin-bottom: 0;
    margin-right: 46px;
    min-width: 150px;
  }

  .slider-image-item {
    margin: 0;
    margin-bottom: 20px;
    width: 150px;
  }

  .slider-social-link {
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 auto;
  }

  .slider-social-icon {
    width: 30px;
    height: 30px;
    fill: #436eab;
  }

  .review-name {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.2;
    text-align: start;
  }

  .review-institution {
    padding-left: 0;
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 1.25;
    text-align: start;
  }

  .review-text {
    padding: 0;
    text-align: start;
  }

  .slider .slick-arrow {
    bottom: 273px;
  }

  .slider .slick-arrow.slick-prev {
    left: 25px;
  }

  .slider .slick-arrow.slick-next {
    right: 25px;
  }

  .custom-dots .slick-dots {
    max-width: 558px;
  }

  .custom-dots .slick-dots li:not(:last-child) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1680px) {
  .reviews-section .container {
    padding-bottom: 130px;
    padding-right: 112px;
    padding-left: 112px;
  }

  .slider {
    margin-bottom: 40px;
  }

  .section-title {
    margin-bottom: 30px;
    font-size: 46px;
    line-height: 1.304;
  }

  .slider-item {
    display: flex;
    padding-top: 50px;
    padding-left: 82px;
    padding-right: 112px;
    padding-bottom: 40px;
  }

  .slider-image {
    margin-right: 40px;
  }

  .slider-image-item {
    margin: 0;
    margin-bottom: 20px;
    width: 150px;
  }

  .slider-social-link {
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 auto;
  }

  .slider-social-icon {
    width: 30px;
    height: 30px;
    fill: #436eab;
  }

  .review-name {
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 1.233;
  }

  .review-institution {
    font-size: 14px;
    line-height: 1.214;
  }

  .review-text {
    padding: 0;
    font-size: 18px;
    line-height: 1.555;
    text-align: start;
  }

  .slider .slick-arrow {
    bottom: 382px;
  }
}
.page-footer {
  padding: 0;
}

.box-registration {
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: linear-gradient(rgba(17, 21, 24, 0.8), rgba(17, 21, 24, 0.8)), url("/mobile-footer-1.dfb56e59.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .box-registration {
    background-image: url("/mobile-footer-1@2x.cebe8301.jpg");
  }
}
@media screen and (min-width: 768px) {
  .box-registration {
    padding-bottom: 71px;
    background-image: linear-gradient(rgba(17, 21, 24, 0.8), rgba(17, 21, 24, 0.8)), url("/tablet-footer-2.57370314.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .box-registration {
    background-image: url("/tablet-footer-2@2x.90c2838d.jpg");
  }
}
@media screen and (min-width: 1314px) {
  .box-registration {
    padding-top: 100px;
    padding-bottom: 62px;
    background-image: linear-gradient(rgba(17, 21, 24, 0.8), rgba(17, 21, 24, 0.8)), url("/desktop-footer-3.2be91b29.jpg");
  }
}
@media screen and (min-width: 1314px) and (min-device-pixel-ratio: 2), screen and (min-width: 1314px) and (min-resolution: 192dpi), screen and (min-width: 1314px) and (min-resolution: 2dppx) {
  .box-registration {
    background-image: url("/desktop-footer-3@2x.3e07e413.jpg");
  }
}

.registration-footer__title {
  max-width: 280px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  font-weight: 800;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) {
  .registration-footer__title {
    max-width: 688px;
    font-size: 26px;
    line-height: 1.3;
  }
}
@media screen and (min-width: 1314px) {
  .registration-footer__title {
    max-width: 1090px;
    margin-bottom: 50px;
    font-size: 46px;
  }
}

.footer-form {
  padding: 0;
}

.footer-form__title {
  max-width: 280px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.45;
  letter-spacing: 0.08ex;
}
@media screen and (min-width: 768px) {
  .footer-form__title {
    max-width: 452px;
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 1.51;
  }
}
@media screen and (min-width: 1314px) {
  .footer-form__title {
    width: 1090px;
    margin-bottom: 56px;
    font-size: 30px;
    line-height: 1.54;
    font-size: 30px;
  }
}

/*# sourceMappingURL=/src.e31bb0bc.css.map */